:root {
  --navbar-height: 60px;
}


[data-bs-theme="light"] .border-contrast {
  border-color: #212529 !important; /* dark border */
}

[data-bs-theme="dark"] .border-contrast {
  border-color: #f8f9fa !important; /* light border */
}

[data-bs-theme="light"] .border-body {
  border-color: #f8f9fa !important; /* light border */
}

[data-bs-theme="dark"] .border-body {
  border-color: #212529 !important; /* dark border */
}

[data-bs-theme="light"] .bg-contrast {
  background-color: #212529 !important; /* dark bg */
}

[data-bs-theme="dark"] .bg-contrast {
  background-color: #f8f9fa !important; /* light bg */
}

[data-bs-theme="light"] .text-body {
  color: #f8f9fa !important;
}

[data-bs-theme="dark"] .text-body {
  color: #212529 !important; 
}

[data-bs-theme="light"] .text-contrast {
  color: #212529 !important; 
}

[data-bs-theme="dark"] .text-contrast {
  color: #f8f9fa !important;
}

/* nprogress base style */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #0051ff !important;
  height: 3px !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  box-shadow: 0 0 10px #ff0000 !important;
  border-radius: 0 0 8px 8px;
}

/* Hover Styles */
.ctm-hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.ctm-hover:hover {
  transform: translateY(-5px) scale(1.03);
}
