.ctg-scroll {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
    gap: 1rem;
    padding-bottom: 0;
    margin-bottom: 4px;

    /* Hide scrollbar */
    scrollbar-width: none; /* for Firefox */
    -ms-overflow-style: none;  /* for IE and Edge */
}

.ctg-scroll::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, Opera */
}

.ctg-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #ccc;
    display: block;
}

.ctg-name {
    font-size: 1.5rem;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    margin-top: 1rem;
}

.scroll-btn{
    height: 36px;
    width: 36px;
    opacity: .7;
    border-radius: 50%;
    padding: 0;
    border: 0;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-size: 0;
}

.scroll-btn:hover{
    opacity: 1;
}


/* Hover Styles */
.ctg-hover {
  transition: transform 0.3s ease;
}

.ctg-hover:hover {
  transform: translateY(5px) scale(1.03);
}
